doctype html
meta(charset='utf-8')
h1 ハウコレ・請求書パティシエ
form(action="/upload", name="uploader", method="post", enctype="multipart/form-data")
	input(type="file", name="file", id="file")
	input(type="submit", value="送信")
